.header {
  background: rgb(0, 0, 27);
  padding: 30px 80px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(0, 184, 184);
  z-index: 100;
  a {
    text-decoration: none;
    color: inherit;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: rgb(0, 184, 184);
  }
  .logo {
    color: rgb(21, 0, 255);
    font-size: 16px;
    letter-spacing: 1px;
    font-family: monospace;
  }
}
