<main class="main">
    <div class="title"><h1>MY SKILLS </h1><div class="line"></div></div>
    <div class="cards">
        <div class="card">
            <div>🌐</div>
            <div>HTML5</div>
        </div>
        <div class="card">
            <div>🎨</div>
            <div>SCSS / Sass</div>
        </div>
        <div class="card">
            <div>⚡</div>
            <div>JavaScript ES15</div>
        </div>
        <div class="card">
            <div>🔷</div>
            <div>TypeScript</div>
        </div>
        <div class="card">
            <div>🅰️</div>
            <div>Angular 21</div>
        </div>
        <div class="card">
            <div>🔄</div>
            <div>RxJs</div>
        </div>
        <div class="card">
            <div>🐙</div>
            <div>Git / GitHub</div>
        </div>
        <div class="card">
            <div>🗄️</div>
            <div>SQL</div>
        </div>
    </div>
</main>

